<!-- <nav>
 <%- nav %>
</nav> -->

<nav>
    <ul>
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/custom" class="nav-link">Custom</a></li>
      <li><a href="/sedan" class="nav-link">Sedan</a></li>
      <li><a href="/suv" class="nav-link">SUV</a></li>
      <li><a href="/truck" class="nav-link">Truck</a></li>
    </ul>
  </nav>
  